#banner {
	background-image: url('/img/banner-gaming(2).png');
	background-size: cover;
	background-position: center center;
	height: 40vh;
}
@media (min-width: 992px) {
	#banner {
		height:60vh;
	}
}